:root {
  --arrow-next-right-large: 69%;
  --arrow-next-right-small: 57%;
}

body {
  background-color: lightgray;
  height: 100vh;
}

.book-list {
  position: relative;
  margin-left: 200px;

  .book-preview {
    width: 450px;
    height: 450px;
    text-align: center;
    list-style: none;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    position: relative;
    border-radius: 5px;
    padding: 0 30px;

    .description {
      position: relative;
      bottom: 60px;
      max-height: 150px;
      overflow-y: auto;
      line-height: 2em;
    }

    .checkbox {
      position: absolute;
      right: 50px;
      top: 20px;
    }

    .rating {
      color: gold;
      font-size: 24px;
    }

    .rating .empty {
      color: lightgray;
    }

    .checkbox .checkbox-input {
      display: none;
    }

    .checkbox .checkbox-custom {
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 2px solid #000;
      background-color: #fff;
    }

    .checkbox .checkbox-input:checked + .checkbox-custom:before {
      content: '\2714'; /* Checkmark symbol */
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
    }

    h3 {
      border-bottom: 1px solid #000;
      width: 90%;
      margin: 0 auto;
      font-size: 22px;
      padding-bottom: 15px;
      text-align: left;
      font-weight: 600;
    }

    p {
      text-align: left;
      margin: 0;
    }

    p.author {
      font-size: 20px;
      margin-left: 20px;
      padding-bottom: 50px;
    }
  }

  .arrows {
    display: flex;
    justify-content: space-between;
  }

  .arrow-back,
  .arrow-next {
    cursor: pointer;
    font-size: 25px;
  }

  .arrow-back {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrow-next {
    position: absolute;
    // right: 69%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.book-list {
  display: flex;
  padding-top: 50px;
}

.book-preview {
  flex: 1;
}

.wish-list-container {
  margin-left: 70px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wish-list {
    .total-price {
      align-items: center;
    }
  }
  p {
    font-size: 1.5rem;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .wish-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 50px;
    background-color: lightblue;
    list-style: none;
    border-radius: 5px;

    .wish-list-title {
      margin-left: 10px;
    }
  }

  button {
    background-color: gray;
    color: #fff;
    border: 0;
    margin-right: 10px;
  }
}

@media (min-width: 1500px) {
  .arrow-next {
    right: var(--arrow-next-right-large);
  }
}

@media (max-width: 1700px) {
  .arrow-next {
    right: var(--arrow-next-right-small);
  }
}
